layout {

    focus-ring {
        active-color   "#91d888"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#91d888"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#91d888"
        inactive-color "#0c5313"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#91d88880"
    }
}
