layout {

    focus-ring {
        active-color   "#feabf4"
        inactive-color "#1e100e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#feabf4"
        inactive-color "#1e100e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#feabf4"
        inactive-color "#6e2c6c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#feabf480"
    }
}
